<%inherit file="/base.html"/>
<script type="text/javascript">
    var _affix;
    var _slots = {};
    var _sets;
    var _valid_slots = ["shoulders", "head", "neck",
                        "hands", "chest", "wrists",
                        "finger", "waist",
                        "twohand", "legs", "shield",
                        "feet"];
    var _char = {};
    var _translate = {};

    var _base_stats = {
        "main_stat" : 217,
        "vitality" : 147,
        "critical_hit_damage" : 50,
        "critical_hit_chance" : 50
    }

    var _elements = ["holy_damage"];

    function join_item(item){
        if(!item.joined){
            $.each(_affix.primary[item.cat], function(stat,value){
                if(item.primary)
                    item.primary[stat] = value;
            });
            item.socket_value = _affix.primary[item.cat].socket_value;
            item.joined = true;
        }
    }
    function item_change(){
        var ddl = $(this);
        var slot = ddl.parents(".slot").prop("id");
        var item_name = ddl.find("option:selected").text();
        var item = _slots[slot].items[item_name];

        join_item(item);

        $("#"+slot+" .affix .primary select").empty();
        if(item.primary) {
            $("#"+slot+" .affix .primary select").append($("<option></option>").html(""));
            $.each(item.primary, function(stat,value){
                if(_translate[stat])
                    $("#"+slot+" .affix .primary select")
                        .append($("<option></option>").html(_translate[stat].display).attr("value", stat));
            });
        }
        $("#"+slot+ " .chosen-select").trigger("chosen:updated");
    }
    function clear_slot(item_ddl){
        item_ddl.empty();
        item_ddl.append($("<option></option>").html(""));
    }
    function load_slot(cat, item_ddl, group){
        var slot = item_ddl.parents(".slot").prop("id");

        $.getJSON("${base}json/"+cat, function(data) {
            if (item_ddl.hasClass("group")){
                parent_item = $("<optgroup></optgroup>").attr("label",cat);
                item_ddl.append(parent_item);
            }
            else{
                parent_item = item_ddl;
            }

            $.each(data.items, function(key, item) {
                item.cat = cat;
                parent_item.append($("<option></option>").html(key));
            });

			if(_slots[slot])
				$.extend(_slots[slot].items, data.items);
			else
				_slots[slot] = data;

        });
    }
    function load_ddl(item_ddl){
        clear_slot(item_ddl);
        $.each(item_ddl.attr("class").split(/\s+/), function(i, slot){
            if($.inArray(slot, _valid_slots) > -1){
                load_slot(slot, item_ddl, false);
            }
        });
        item_ddl.parent().children(".chosen-select").trigger("chosen:updated");
    }

    function update_char(){
        var totals = jQuery.extend(true, {}, _base_stats);
        var sets = {};
        var rorg_bonus = false;

        $(".legendary_affixes").empty();
        $(".set_bonuses").empty();

        $.each(_char, function(slot,item){
            if(item.name){
                var item_blob = _slots[slot].items[item.name];

                if(item_blob.set)
                    sets[item_blob.set] = (sets[item_blob.set] || 0) + 1

                var slot_div = $("#"+slot);
                slot_div.find(".name").html(item.name);
                var affixes_div = slot_div.find(".view .affixes");

                affixes_div.empty();
                $.each(item.affixes.primary, function(index,affix){
                    if (affix.name == "socket"){
                        join_item(item_blob);
                        $.each(item_blob.socket_value || {}, function(socket_affix, value){
                            totals[socket_affix] = (totals[socket_affix] || 0) + value * affix.val;
                        });
                    }
                    else if (affix.name == "elemental_damage"){
                        $.each(_elements, function(i, element){
                            totals[element] = (totals[element] || 0) + affix.val;
                        });
                    }
                    else{
                        totals[affix.name] = (totals[affix.name] || 0) + affix.val;
                    }
                    var affix_div = $("#templates .affix").clone(true,true);
                    var display_val = get_display_value(affix.val, affix.scale);

                    var template = _translate[affix.name].template || _translate[affix.name].display;

                    affix_div.find(".type").html(template.replace("{0}", display_val)).attr("affix", affix.name);
                    affix_div.find(".value")
                        .attr("min", affix.min)
                        .attr("max", affix.max)
                        .attr("val", affix.val)
                        .attr("step", affix.step)
                        .attr("scale", affix.scale)
                        .find(".edit_affix_button")
                            .click(edit_affix);

                    affixes_div.append(affix_div).append($("<div style='clear: both;'></div>"));
                });
                $.each(item_blob.legendary, function(index,affix){
                    if(index == "ring_of_royal_grandeur_leg")
                        rorg_bonus = true;
                    var legendary_div = $("#templates .legendary_affix").clone(true);
                    $(".legendary_affixes").append(legendary_div);
                    legendary_div.html(get_template(index));
                });
            }
        });
        _char.sets = sets;

        $.each(sets, function(set_name,count){
            if (rorg_bonus && count > 1)
                count++;
            var append = false;
            var set_div = $("#templates .set").clone(true);
            $(".set_bonuses").append(set_div);
            for(var i = 2; i <= count; i++){
                set_div.find(".name").text(_translate[set_name].display);
                var set_bonus = _sets[set_name][i];
                if(set_bonus){
                     $.each(set_bonus, function(affix_type, affixes){
                        $.each(affixes, function(affix, value){
                            affix_div = $("#templates .set_affix").clone();
                            affix_div.html(get_template(affix, value));
                            set_div.find("."+affix_type).append(affix_div);

                            totals[affix] = (totals[affix] || 0) + value;
                        });
                    });
                }
            }
        });

        _char.totals = totals;

        $(".totals tr").each(function(i,tr){
            tr = $(tr);
            var affix = tr.attr("id");
            var value = totals[affix] || 0;
            var scale = _translate[affix].scale || 0;

            tr.children().html(_translate[affix].template.replace("{0}",get_display_value(value, scale)));
        });
        save_cookie();
        calculate_damage();
    }



    function save_cookie(){
        $(".slot").each(function(){
            var slot = $(this).attr("id");
            var data = _char[slot];
            if (data)
                $.cookie('d3planner_'+slot, data);
        });
    }
    function load_cookie(){
        $(".slot").each(function(){
            var slot = $(this).attr("id");
            var cookie_name = 'd3planner_'+slot;
            if($.cookie(cookie_name))
                _char[slot] = $.cookie(cookie_name);
        });
    }

    function edit_affix(){
        var affix_div = $(this).parents(".affix");
        var edit_div = affix_div.find(".edit_affix");
        edit_div.toggle();
        if(edit_div.is(':visible')){
            var value_div = affix_div.find(".value");
            var min = parseInt(value_div.attr("min"));
            var max = parseInt(value_div.attr("max"));
            var val = parseInt(value_div.attr("val"));
            var step = parseInt(value_div.attr("step") || 1);

            affix_div.find(".slider").slider({
                value : val,
                min : min,
                max : max,
                step : step,
                slide : on_slider
            });
        }
        else{
            update_char();
        }
        return false;
    }

    function get_display_value(val, scale){
        var display_val = String(val/Math.pow(10, scale || 0));

        if(scale > 0){
            if(display_val.indexOf(".") < 0){
                display_val += ".";
            }
            while(display_val.split(".")[1].length < scale){
                display_val += "0";
            }
        }
        return display_val;
    }

    function get_template(affix, value){
        affix_stuff = _translate[affix] || {};
        if (value){
            return (affix_stuff.template || affix_stuff.display || affix + " {0}").replace("{0}", get_display_value(value, affix_stuff.scale || 0));
        }
        else{
            return (affix_stuff.display || affix);
        }
    }

    function on_slider(event, ui) {
        var affix_div = $(this).parents(".affix");
        var affix = $(this).parents(".affix").find(".type").attr("affix");
        var slot_div = affix_div.parents(".slot");
        var slot = slot_div.attr("id");

        var value_div = affix_div.find(".value");
        var val = parseInt(ui.value);
        var scale = parseInt(value_div.attr("scale"));

        var template = _translate[affix].template || _translate[affix].display;

        var display_val = get_display_value(val, scale);
        _char[slot].affixes.primary[affix].val = ui.value;

        affix_div.find(".type").html(template.replace("{0}", display_val)).attr("affix", affix);
        affix_div.find(".value").attr("val", val);
    }

    $(document).ready(function(){
        $.cookie.json = true;
        $("#debug").click(function(){$("#debug_output").html(JSON.stringify(_translate));});
        $(".item").change(item_change);
        $.ajaxSetup({
            async: false
        });
        $.getJSON("${base}json/affix", function(data) {
            _affix = data;
        });
        $.getJSON("${base}json/translate", function(data) {
            _translate = data;
        });
        $.getJSON("${base}json/sets", function(data) {
            _sets = data;
        });
        $(".item").each(function(i, item_ddl){
            load_ddl($(item_ddl));
        });

        $(".edit_button").click(function(){
            $(this)
                .parents(".view").hide()
                .parents(".slot").children(".edit").show()
                .find(".chosen-select").chosen();
            return false;
        });
        $(".cancel_button").click(function(){
            $(this)
                .parents(".edit").hide()
                .parents(".slot").children(".view").show();
            return false;
        });
        $(".save_button").click(function(){
            var slot_div = $(this).parents(".slot");
            var slot = slot_div.attr("id");
            var item_name = slot_div.find(".item option:selected").text();
            var item = _slots[slot].items[item_name];

            _char[slot] = {};
            _char[slot].name = item_name;

            _char[slot].affixes = {};
            _char[slot].affixes.primary = {};

            slot_div.find(".primary option:selected").each(function(index, affix_node){
                affix_name = $(affix_node).attr("value");
                affix_data = item.primary[affix_name]
                affix = {};
                affix.name = affix_name;
                affix.min = affix_data.min;
                affix.max = affix_data.max;
                affix.val = affix_data.max;
                affix.step = affix_data.step;
                affix.scale = affix_data.scale;

                _char[slot].affixes.primary[affix_name] = affix;
            });
            update_char();

            $(this)
                .parents(".edit").hide()
                .parents(".slot").children(".view").show();
            return false;
        });
        load_cookie();
        update_char();
    });
    function calculate_damage(){
        if (_char && _char.totals){
            var max = _char.totals.max_damage || 0;
            var min = _char.totals.min_damage || 0;
            var ms = _char.totals.main_stat || 0;
            var as = _char.totals.attack_speed || 0;
            var chc = (_char.totals.critical_hit_chance || 0)  / Math.pow(10, _translate.critical_hit_chance.scale || 0);
            var chd = _char.totals.critical_hit_damage || 0;
            var eled = _char.totals.holy_damage || 0;
            var elid = _char.totals.elite_damage || 0;
            var aps = _char.totals.attacks_per_second || 1;
            var aps = (_char.totals.attacks_per_second || 0)  / Math.pow(10, _translate.attacks_per_second.scale || 0);

            var sheet_dps = ((max+min)/2)*(1+ms/100)*(1+as/100)*(aps)*(1+chc/100*chd/100);

            $("#sheet_dps").html(_translate.sheet_dps.template.replace("{0}",Math.round(sheet_dps)));
            $("#elemental_dps").html(_translate.elemental_dps.template.replace("{0}",Math.round(sheet_dps*(1+eled/100))));
            $("#elite_dps").html(_translate.elite_dps.template.replace("{0}",Math.round(sheet_dps*(1+elid/100))));
            $("#elemental_elite_dps").html(_translate.elemental_elite_dps.template.replace("{0}",Math.round(sheet_dps*(1+eled/100)*(1+elid/100))));
        }
    }
</script>

<a id="debug" href="#">debug</a>
<div id="debug_output"></div>
<div id="templates" style="display:none;">
    <div class="affix">
        <div class="view_affix">
            <span class="type"></span><span class="value"><span class="ui-icon ui-icon-gear edit_affix_button"></span></span>
        </div>
        <div class="edit_affix" style="display: none;">
            <br>
            <div class="slider"></div>
        </div>
    </div>
    <div class="legendary_affix"></div>
    <div class="set_affix"></div>
    <div class="set">
        <div class="name"></div>
        <div class="primary"></div>
        <div class="secondary"></div>
        <div class="legendary"></div>
    </div>
</div>

<table style="width:100%;">
    <tr>
        <td style="vertical-align:top;">
            <div class="totals">
                <table>
                    <tr id="main_stat">
                        <td>

                        </td>
                    </tr>
                    <tr id="vitality">
                        <td>

                        </td>
                    </tr>
                    <tr id="attack_speed">
                        <td>

                        </td>
                    </tr>
                    <tr id="critical_hit_chance">
                        <td>

                        </td>
                    </tr>
                    <tr id="critical_hit_damage">
                        <td>

                        </td>
                    </tr>
                    <tr id="holy_damage">
                        <td>

                        </td>
                    </tr>
                    <tr id="elite_damage">
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="damage">
                <table>
                    <tr id="sheet_dps">
                        <td>

                        </td>
                    </tr>
                    <tr id="elemental_dps">
                        <td>

                        </td>
                    </tr>
                    <tr id="elite_dps">
                        <td>

                        </td>
                    </tr>
                    <tr id="elemental_elite_dps">
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>
            <div class ="center_contents">
                <div class="paperdoll">
                    <div class="equipment_row">
                        <div class="slot" id="shoulders">
                            shoulders
                            <br>
                            <div class="edit">
                                <select class="item shoulders chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="head">
                            head
                            <br>
                            <div class="edit">
                                <select class="item head chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="neck">
                            neck
                            <br>
                            <div class="edit">
                                <select class="item neck chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="equipment_row">
                        <div class="slot" id="hands">
                            hands
                            <br>
                            <div class="edit">
                                <select class="item hands chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="chest">
                            chest
                            <br>
                            <div class="edit">
                                <select class="item chest chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="wrists">
                            wrists
                            <br>
                            <div class="edit">
                                <select class="item wrists chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="equipment_row">
                        <div class="slot" id="lfinger">
                            finger
                            <br>
                            <div class="edit">
                                <select class="item finger chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="waist">
                            waist
                            <br>
                            <div class="edit">
                                <select class="item waist chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="rfinger">
                            finger
                            <br>
                            <div class="edit">
                                <select class="item finger chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="equipment_row">
                        <div class="slot" id="mainhand">
                            mainhand
                            <br>
                            <div class="edit">
                                <select class="item group onehand twohand chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="legs">
                            legs
                            <br>
                            <div class="edit">
                                <select class="item legs chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="slot" id="offhand">
                            offhand
                            <br>
                            <div class="edit">
                                <select class="item group shield mojo source quiver cshield chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="equipment_row">
                        <div class="set_bonuses"></div>
                        <div class="slot" id="feet">
                            feet
                            <br>
                            <div class="edit">
                                <select class="item feet chosen-select"></select>
                                <div class="affix">
                                    <div class="primary">
                                        <select multiple class="chosen-select"></select>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <span class="ui-icon ui-icon-check save_button"></span>
                                    <span class="ui-icon ui-icon-close cancel_button"></span>
                                </div>
                            </div>
                            <div class="view">
                                <div><div class="name"></div><span style="float:right;" class="ui-icon ui-icon-gear edit_button"></span></div>
                                <div style="clear: both;"></div>
                                <div class="affixes"></div>
                            </div>
                        </div>
                        <div class="legendary_affixes"></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>