<%inherit file="/base.html"/>
<script type="text/javascript">
    var _affix;
    var _slots = {};

    function item_change(){
        var ddl = $(this);
        var slot = ddl.parent().prop("id");
        var item_name = ddl.children("option:selected").text();
        var item = _slots[slot].items[item_name];

        if(!item.joined){
            $.each(_affix.primary, function(key,value){
                stat = value[slot];
                if(stat){
                    alert(stat.max);
                    alert(stat.min);
                }
            });
        }
    }

    $(document).ready(function(){
        $(".item").change(item_change);
        $.getJSON("${base}json/affix", function(affix) {
            _affix = affix;
        });
        $(".slot").each(function(i, slot_div){
            var slot = slot_div.id;
            $.getJSON("${base}json/"+slot, function(data) {
                _slots[slot] = data;
                $.each(data.items, function(key, item) {
                    $("#"+slot+" .item")
                         .append($("<option></option>")
                            .text(key));
                });
            });
        });
    });
</script>
<div class="slot" id="head">
    <select class="item"></select>
    <div>
        <select class="affix"></select>
    </div>
</div>