<%inherit file="/base.html"/>
<script type="text/javascript">
    var _affix;
    var _slots = {};

    function item_change(){
        var ddl = $(this);
        var slot = ddl.parent().prop("id");
        var item_name = ddl.children("option:selected").text();
        var item = _slots[slot].items[item_name];

        if(!item.joined){
            $.each(_affix.primary[slot], function(stat,value){
                if(item.primary)
                    item.primary[stat] = value;

            });
            item.joined = true;
        }

        $("#"+slot+" .affix .primary select").empty();
        if(item.primary) {
            $("#"+slot+" .affix .primary select").append($("<option></option>").text(""));
            $.each(item.primary, function(stat,value){
                $("#"+slot+" .affix .primary select")
                    .append($("<option></option>").text(stat));
            });
        }
        $("#"+slot+ " .chosen-select").trigger("chosen:updated");
    }

    $(document).ready(function(){
        $(".item").change(item_change);
        $.getJSON("${base}json/affix", function(affix) {
            _affix = affix;
        });
        $(".slot").each(function(i, slot_div){
            var slot = slot_div.id;
            $.getJSON("${base}json/"+slot, function(data) {
                _slots[slot] = data;
                $("#"+slot+" .item")
                         .append($("<option></option>")
                            .text(""));
                $.each(data.items, function(key, item) {
                    $("#"+slot+" .item")
                         .append($("<option></option>")
                            .text(key));
                });
                $("#"+slot+ " .chosen-select").trigger("chosen:updated");
            });
        });
        $(".chosen-select").chosen();
    });
</script>
<div class="equipment_row">
    <div class="slot" id="head">
        head
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="shoulders">
        shoulders
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="neck">
        neck
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="equipment_row">
    <div class="slot" id="hands">
        hands
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="chest">
        chest
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="wrists">
        wrists
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="equipment_row">
    <div class="slot" id="lfinger">
        finger
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="waist">
        waist
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="rfinger">
        finger
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="equipment_row">
    <div class="slot" id="mainhand">
        mainhand
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="legs">
        legs
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
    <div class="slot" id="offhand">
        offhand
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="equipment_row">
    <div class="slot" id="feet">
        feet
        <br>
        <select class="item chosen-select"></select>
        <div class="affix">
            <div class="primary">
                <select multiple class="chosen-select"></select>
            </div>
        </div>
    </div>
</div>