.slot{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.slot .buttons {
    display:inline-block;
}
.affix select, .item, .slot .buttons {
    width: 300px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    height: auto !important;
}

.equipment_row {
    text-align: center;
}

.slot .edit {
    display: none;
}
.slot .edit_button {
}
.slot .save_button {
    float: left;
}
.slot .cancel_button {
    float: right;
}