.paperdoll {
    min-width: 620px;
    max-width: 1220;
    width: 100%;
    text-align: center;
    display:inline-block;
}

.border {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.center_contents {
    text-align: center;
    display:inline-block;
    width: 100%;
}

.slot, .set_bonuses, .legendary_affixes{
    min-height: 60px;
    max-width: 400px;
    min-width: 200px;
    width: 32%;
    display: inline-block;
    vertical-align: top;

    background-color: grey;
    margin: 5 5 5 5;
}
.slot .buttons {
    display:inline-block;
}
.slot .buttons, .item, .affix select {
    max-width: 300px;
    min-width: 200px;
}
.item, .affix select {
    width: 100%;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    height: auto !important;
}

.equipment_row {
}

.slot .edit {
    display: none;
}
.slot .edit_button {
}
.slot .save_button {
    float: left;
}
.slot .cancel_button {
    float: right;
}

.slot .view {
    display: inline-block;
}

.affix .value{
    float: right;
}
.affix .type{
    float: left;
}

.bottom_spacer {
    height: 200px;
}

.view .name{
    font-weight: bold;
    display: inline-block;
}

.totals {
    vertical-align: top;
    white-space: nowrap;
}

.set .name {
    font-weight: bold;
}

.damage table { width:100%; }
.label { text-align: left; }
.value { text-align: right; float: right; }